@font-face {
    font-family: "Muller";
    src: url(./fonts/MullerRegular.woff) format("woff");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1, h3 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.header {
    margin: 159px 89px 0px 90px;
}

.block-allocation {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}

.categories {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px 38px 33px 20px;
    max-width: 250px;
    width: 100%;
    gap: 20px;
    box-shadow: 0 10px 20px #0000001A;
}

.science-title {
    font-family: "Muller", sans-serif;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;

}

.science-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.science-subtitle {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.science-subtitle svg {
    height: 24px;
    width: 26px;
}

.science-icon {
    height: 24px;
    width: 26px;
}

.science {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #222222;

}

.cards {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.welcome-block {
    background-color: #1946BAD9;
    height: 287px;
    margin-bottom: 35px;
}

.title {
    font-family: 'Muller', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 30px 30px 0;
}

.subtitle {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 15px 30px 0;
    opacity: 0.5;
}
.flex-blocks {
    display: flex;
    width: 100%;
}

.number-subtitle {
    font-family: 'Muller', sans-serif;
    font-weight: 900;
    font-size: 34px;
    line-height: 34px;
    color: #FFFFFF;
    padding: 30px 30px 0;

}

.text-subtitle {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 0 30px;
}

.catalogs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.collective-access {
    background-color: #38C463;
    height: 289px;
    max-width: 502px;
    width: 100%;
    box-shadow: 0 10px 20px #0000001A;
}

.title-second {
    font-family: 'Muller', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding: 30px 30px 0;
}

.button {

    width: 105px;
    height: 40px;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 13px 20px;
    margin: 60px 30px;
    border: 1px solid #FFFFFF
}

.remote-access {
    background-color: #F21F5B;
    height: 289px;
    max-width: 502px;
    width: 100%;
    box-shadow: 0 10px 20px #0000001A;

}


.section {
    margin: 159px 89px 0px 90px;
}

.exampels {
    margin-top: 130px;
}

.exampels-cards {
    display: flex;
    gap: 58px;
}

.exampels-houses {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px #0000001A;
    width: 100%;
    padding: 38px 0px 38px 29px;
}

.exampels-icon {
    height: 63px;
    width: 52px;
}

.exampels-text-first {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #222222;
}

.exampels-text-second {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}

.physics-title {
    margin: 140px 0px 22px;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #222222;
}

.physics {
    display: flex;
    flex-direction: column;
    gap: 79px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px #0000001A;
    width: 100%;
    padding: 29px 84px 50px 33px;
}

.physics-subtitle {
    display: flex;
    gap: 40px;
    align-items: center;
}

.physics-subtitle__optics-first {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1946BAD9;
    border-radius: 8px;
    height: 32px;
    width: 89px;
}

.physics-subtitle__optics-text-first {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.5px;
    color: #fff;
}

.physics-subtitle__optics-text {
    height: 26px;
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.5px;
    border-bottom: 1px solid #222;
    color: #222;
}

.binocular {
    display: flex;
    gap: 140px;

}

.binocular-cards {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
    padding: 33px 55px 0 0;
    position: relative;

}

.binocular-size {
    position: absolute;
    top: 0;
    right: 0;
    height: 128px;
    width: 169px;
}

.block {
    background-color: #1946BAD9;
    width: 138px;
    height: 107px;
}

.binocular-text-first {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #222;
}

.binocular-text-second {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #C4C4C4;
}



.footer-block {
    margin-top: 199px;
    min-height: 400px;
    padding: 30px 90px;
    display: flex;
    gap: 150px;
    background-color: #060271fb;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}



.footer-title {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #fff;
}

.footer-subtitle {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}