@font-face {
    font-family: "Muller";
    src: url(./fonts/MullerRegular.woff) format("woff");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: "Muller", sans-serif;
}

h1, h3 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 130px 90px;
}

.header {
    padding-bottom: 0;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 130px;
}

.block-allocation {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 100%;
}

.categories {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px 38px 33px 20px;
    max-width: 250px;
    width: 100%;
    gap: 20px;
    box-shadow: 0 10px 20px #0000001A;
}

.science-title {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.science-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.science-subtitle {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.science-subtitle svg {
    height: 24px;
    width: 26px;
}

.science-icon {
    height: 24px;
    width: 26px;
}

.science {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #222222;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.welcome-block {
    display: flex;
    flex-direction: column;
    width:100%;
    gap:15px;
    background-color: #1946BAD9;
    padding:29px 464px 24px 29px;
}

.title {
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.5;
}

.data-number {
    display: flex;
    gap:21px;
    width: 100%;
    padding-top: 54px;
}

.text-blocks{ 
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}

.number-subtitle {
    font-weight: 900;
    font-size: 34px;
    line-height: 34px;
    color: #FFFFFF;
}

.text-subtitle {
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
    color: #FFFFFF;
    opacity: 0.5;
}

.catalogs {
    display: flex;
    gap: 30px;
    width: 100%;
}

.collective-access {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    gap:67px;
    background-color: #38C463;
    box-shadow: 0 10px 20px #0000001A;
    padding:29px 56px 24px 29px;
}

.title-delta {
    display: flex;
    flex-direction: column;
    gap:28px;
}

.title-second {
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding:10px 10px;
}

.remote-access {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    gap:67px;
    background-color: #F21F5B;
    box-shadow: 0 10px 20px #0000001A;
    padding:29px 50px 24px 29px;
}

.exampels-cards {
    display: flex;
    gap: 58px;
}

.exampels-houses {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 38px 0px 38px 29px;
    gap: 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px #0000001A;
}

.exampels-icon {
    width: 52px;
    height: 52px;
}

.exampels-text-first {

    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #222222;
}

.exampels-text-second {

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C4C4C4;
}

.physics {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.physics-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px #0000001A;
    width: 100%;
    padding: 29px 84px 50px 33px;
}

.physics-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #222222;
}

.physics-subtitle {
    display: flex;
    gap: 40px;
    align-items: center;
}

.physics-subtitle__optics-first {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1946BA;
    border-radius: 8px;
    padding: 10px 10px;
}

.physics-subtitle__optics-text-first {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.5px;
    color: #fff;
}

.physics-subtitle__optics {
    padding: 10px 0;
    border-bottom: 1px solid #222;
}

.physics-subtitle__optics-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.5px;
    color: #222;
}

.binocular {
    display: flex;
    gap: 140px;
}

.binocular-cards {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
    position: relative;
}

.binocular-size {
    position: absolute;
    top: -50px;
    right: 0;
    height: 128px;
    width: 169px;
}

.block {
    background-color: #1946BAD9;
    width: 138px;
    height: 107px;
}

.binocular-text-first {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #222;
}

.binocular-text-second {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #C4C4C4;
}



.footer-block {
    min-height: 400px;
    padding: 30px 90px;
    display: flex;
    gap: 150px;
    background-color: #060271fb;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}


.footer-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #fff;
}

.footer-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}